.container {
    /* Display & Box Model */
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 100px 0;
    /* Background and Font */
    background-color: #aaf0d1;
    color: #371300;
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 0 0 20px 0;
    font-size: 20pt;
    font-weight: 600;
}

.sectionText {
    width: 80%;
    font-size: 13pt;
    font-weight: 400;
    text-align: start;
}

.bulletPoints {
    padding: 0 0 20px 0;
}

.bulletPoints div {
    padding: 0 0 5px 0;
}

.bullet {
    font-weight: bold;
}

.list {
    border: 2px solid white;
    padding: 20px;
}

.list div {
    padding: 0 0 5px 0;
}